# NOTE: Requires **VS2019 16.3** or later

# New Rule Set
# Description:  

# Code files
[*.{cs,vb}]


dotnet_diagnostic.IDE0008.severity = none

dotnet_diagnostic.IDE0008WithoutSuggestion.severity = none

dotnet_diagnostic.IDE1006.severity = none

dotnet_diagnostic.IDE1006WithoutSuggestion.severity = none
